<nav id="navbar" class="navbar navbar-expand-md  navbar-dark navbar-expand-md " style="color: #fff; background-color: #073984;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Info Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">
          <%= link_to "Boards" , infos_path , class: "nav-link #{controller_name.start_with?('info') && action_name.start_with?('index') ? "disabled" : "" }"  %>
        </li>
        <% if user_signed_in? %> 
        <li class="nav-item">
          <a class="nav-link <%= controller_name.start_with?('info') && action_name.start_with?('desk') ? "disabled" : "" %> </a>" aria-current="page" href="/desk/<%= current_user.id %>">Desk</a>
        </li>

                
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar_user" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">[ <%= UserForId(current_user.id) %> ] </a>
          <ul class="dropdown-menu" aria-labelledby="navbar_user">
            <li><a class="dropdown-item <%= controller_name.start_with?('user') && action_name.start_with?('edit') ? "disabled" : "" %>" href=<%= edit_user_path(current_user)%>>Edit</a></li>
            <li><a class="dropdown-item <%= controller_name.start_with?('user') && action_name.start_with?('show') ? "disabled" : "" %>" href=<%= user_path(current_user)%>>Panel</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= link_to "Logout", destroy_user_session_path ,class:"dropdown-item", method: :delete %></li>
          </ul>        
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <%end %>
    </div>
</nav>