<%= form_with(model: info) do |form| %>
  <% if info.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(info.errors.count, "error" ) %> prohibited this info from being saved:
      </h2>

      <ul>
        <% info.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
      <div class="card">
        <div class="card-header text-white">
          New info
        </div>
        <div class="card-body">
          <div class="mb-2">
            <div class="field">
              <%= form.text_area :contents ,class: "form-control" , rows: 10, placeholder:"Write info...." %>
            </div>
          </div>
        </div>
      </div>
      </br>
      <div class="actions">
        <%= form.hidden_field :user_id, value:current_user.id %>
        <%= form.submit "Save" , class: "btn btn-primary" %>
        <%= link_to 'Back', request.referrer, class: "btn btn-primary" %>
      </div>
      <% end %>