<div class="d-flex justify-content-center bg-white">
    <div class="col-md-8">
      <div class="feed p-1">
        <% @infos.each do |info| %>
          <div id="infopanel" class="bg-white mt-2 border rounded-top rounded-bottom rounded ">
            <div>
              <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                <div class="d-flex flex-row align-items-center feed-text px-2">
                  <div class="d-flex flex-column flex-wrap mr-4 p-1">
                    <%= image_tag info.user.photo.variant(resize_to_fill: [40, 40]) ,class:"rounded-circle border
                      border-white" %>
                  </div>
                  <div class="d-flex flex-column flex-wrap ml-4 p-1">
                    <span class="font-weight-bold">
                      <%=UserForId(info.user.id) %>
                    </span><span class="text-black-50 time" style="color: #fff; ">
                      <%= link_to time_ago_in_words(info.created_at), info, title:created_at_format(info) %>
                    </span>
                  </div>
                </div>
                <div class="dropdown">
                  <a type="button" href="#" role="button" id="dropdownMenu" data-mdb-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <%if info.user==current_user %>
                      <li>
                        <%= link_to "Edit" , edit_info_path(info.id),class: "dropdown-item" , remote:
                          :true, 'data-toggle'=> 'modal' , 'data-target' => '#modal-window' %>
                      </li>
                      <li>
                        <%= link_to "Delete" , info_path(info.id) ,class: "dropdown-item",data: {  :confirm => "Are you sure?"}, :method => :delete %>
                      </li>                     
                      <% else %>
                        <li><a class="dropdown-item disabled" href=#>Edit</a></li>
                        <li><a class="dropdown-item disabled" href="#">Delete</a></li>
                        <% end %>
                          
                  </ul>
                </div>
              </div>
            </div>
            <div class="p-1 px-1 text"><span style="white-space: pre-line;">
                <%=info.contents %>
              </span></div>
            <div class="d-flex justify-content-end socials p-2 py-3">
              <%= link_to "" , info_like_url(info.id), id:"icon_like_#{info.id}", remote: :true, no_turbolink:
                :true, class: like_by_user(info,current_user) ? "no_deco_link far fa-arrow-alt-circle-up fa-lg"
                : "no_deco_link fas fa-dot-circle fa-lg" %>
                <div id="<%=" like_#{info.id}"%>" class="mr-2 ml-2"><%= p like_count(info).first.like_count %>
                </div>
                <%= link_to "" , new_info_comment_path(info.id), id:"comment", class:"no_deco_link fa fa-comments-o
                  fa-lg", remote: :true, method: :get %>                  
            </div>
          </div>
          <% info.comments.each do |ccc| %>
            <article class="comments-comment-item p-1 px-1 ">
              <div class="d-flex flex-row bd-highlight mb-2 ms-4">
                <div class="p-2 bd-highlight">              
                <%= image_tag ccc.User.photo.variant(resize_to_fill: [40, 40]) ,class:"rounded-circle border
                  border-white" %>
              </div>
              <div class="p-2 bd-highlight flex-fill comments-comment-feed rounded">
              <div class="feed-shared-text relative">
                <span>
                  <%= link_to "#{ccc.User.name} #{ccc.User.lastname}" , user_url(ccc.User) %>
                </span>
                <span>
                  <%=ccc.text_%>
                </span>
              </div>
            </div>
              <div class="p-2 bd-highlight">
              <div class="dropdown">
                <a type="button" href="#" role="button" id="dropdownMenu2" data-mdb-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <%if info.user==current_user %>
                    <li>
                      <%= link_to "Edit" , edit_info_comment_path(info.id,ccc.id),class: "dropdown-item" , remote:
                        :true, 'data-toggle'=> 'modal' , 'data-target' => '#modal-window' %>
                    </li>
                    <li>
                      <%= link_to "Delete" , info_comment_path(info.id,ccc.id) ,class: "dropdown-item",data: {:confirm => "Are you sure?"}, :method => :delete %>
                    </li>                     
                    <% else %>
                      <li><a class="dropdown-item disabled" href=#>Edit</a></li>
                      <li><a class="dropdown-item disabled" href="#">Delete</a></li>
                      <% end %>
                        
                </ul>
              </div>
            </div>
          </div>
            </article>

            <% end %>
              <% end %>
      </div>
    </div>

    <br>
  </div>