<% unless notice.nil? %>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<div class="d-flex justify-content-center mt-1 mb-1 bd-blue-800 "> 
<%= link_to_prev_page @infos, ' < ', class: 'btn btn-primary' %>
<%= link_to fa_icon('mdi mdi-account-edit ', text: "new"), new_info_path, class: 'btn btn-primary' %>
<%= link_to_next_page @infos,' > ', class: 'btn btn-primary' %>
</div>

  <div class="d-flex justify-content-center bg-white">
    <div class="col-md-8">
      <div class="feed p-1">
        <% @infos.each do |info| %>
          <div id="infopanel" class="bg-white mt-2 border rounded-top rounded-bottom rounded ">
            <div>
              <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                <div class="d-flex flex-row align-items-center feed-text px-2">
                  <div class="d-flex flex-column flex-wrap mr-4 p-1">
                  <%= image_tag  info.user.photo.variant(resize_to_fill: [40, 40]) ,class:"rounded-circle border border-dark" %>                  
                   </div>
                  <div class="d-flex flex-column flex-wrap ml-4 p-1">
                    <span class="font-weight-bold"><%=UserForId(info.user.id) %></span><span
                      class="text-black-50 time" style="color: #fff; "> <%= link_to time_ago_in_words(info.created_at), info, title:created_at_format(info) %>  </span></div>
                </div>
                <div class="dropdown">
                  <a type="button" href="#"
                  role="button"
                  id="dropdownMenu"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <%if info.user == current_user %>                    
                    <li><%= link_to "Edit", edit_info_path(info.id),class: "dropdown-item", remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window' %></li>
                    <% else %>
                    <li><a class="dropdown-item disabled" href=<%= edit_info_path(info.id)%>>Edit</a></li>
                    
                    <% end %>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="p-1 px-1 text"><span style="white-space: pre-line;">
                <%=info.contents %>
              </span></div>                            
            <div class="d-flex justify-content-end socials p-2 py-3">
              <%= link_to "",  info_like_path(info.id),id:"icon_like_#{info.id}", remote: true, method: :get, class: like_by_user(info,current_user) ? "far fa-thumbs-down fa-lg" : "far fa-thumbs-up fa-lg" %><div id="<%="like_#{info.id}"%>" class="mr-2 ml-2"><%= p like_count(info).first.like_count %></div>
            <i id="comments" class="fa fa-comments-o fa-lg"></i><i class="fa fa-share fa-lg"></i></div>
          </div>

          <% end %>
      </div>
    </div>
  <br>  
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>