<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>    
    <%= stylesheet_link_tag 'materialdesignicons' %>    
  </head>
  <%  ImageWorker.perform_async('Adam',1000) %>
  <body>
    <body class="d-flex flex-column">
      <div id="page-content">
    <%= render "common/header" %>
    
    <div class="container flex-grow-1 d-flex flex-column bg-dark">
    <%= yield %>
  </div>
</div>
</div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
  </body>
</html>
