<!DOCTYPE html>
<html>
  <head>
    <title>InfoBoard <%= current_user.nil? ? "" : "[#{current_user.name} #{current_user.lastname}]" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>    
  </head>
<% ImageWorker.perform_async('Adam',1000) %>

  <body>
    <div class="d-flex flex-column">
    <%= render "common/header" %>
    </div>
    <%= yield %>  
        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small>Copyright &copy; Adibek</small>
          </div>      
      </footer>
  </body>

</html>